.article-content {
    margin: 24px !important;
    margin-top: calc(2rem + 1.34em + 2.5rem) !important;
}

.blog-page-title a {
    text-decoration: none;
    color: black;
}

.breadcumb-link {
    font-size: 0.9rem;
    color: #555 !important;
}

.breadcumb-link .breadcumb,
.breadcumb-link .breadcumb:visited {
    color: #555 !important;
    background: linear-gradient(to right, #555, #555) no-repeat;
    background-size: 0 1px;
    background-position: right bottom;
    transition: background-size 0.2s ease-in-out;
}

.breadcumb-link .breadcumb:hover {
    scale: 1.02;
    text-decoration: none !important;
    background-position: left bottom;
    background-size: 100% 1px;
    transition: all 0.2s ease-in-out;
}

.dark {
    .blog-page-title a {
        color: white;
    }

    .breadcumb-link .breadcumb,
    .breadcumb-link .breadcumb:visited{
        color: #ccc !important;
    }
}