.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0 0 0;
}


.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.social-icons .social-icon {
    color: black;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons .social-icon:hover {
    background-color: #555;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#copyright {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}