.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0 0 0;
}

.social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
}

.social-icons .social-icon {
    color: black;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons .social-icon svg {
    height: 32px;
    width: 32px;
}

.social-icons .social-icon:hover {
    background-color: #555;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.icp-beian {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.icp-beian a {
    color: white;
}

.beian-link {
    display: flex;
    align-items: center;
}

.social-icons .rss-dropdown {
    position: absolute;
    display: none;
    background: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 2px;
    top: -90px;
    opacity: 0;
}

.social-icons .social-icon .rss-dropdown-triangle {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #f9f9f9;
    top: -12px;
    left: 14px;
}

.social-icon:hover .rss-dropdown,
.social-icon:hover .rss-dropdown-triangle {
    opacity: 1;
    display: block;
}

.social-icons .rss-dropdown a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.social-icons .rss-dropdown a:hover {
    background: #ddd;
}

