.skeleton {
    width: 100%;
    height: 100%;
}

.skeleton .convex {
    background: linear-gradient(0deg, #e0e0e0 0%, #c9c9c9 100%);
    filter: blur(4px);
    transform: translate(100%, 100%);
    width: 100%;
    height: 100%;
    animation: shimmer-reverse 2s ease-in-out 2s infinite;
}

.skeleton .concave {
    background: linear-gradient(180deg, #e0e0e0 0%, #c9c9c9 100%);
    filter: blur(4px);
    transform: translate(-100%, -100%);
    width: 100%;
    height: 100%;
    animation: shimmer 4s infinite;
}



@keyframes shimmer {
  100% {
    transform: translate(100%, 100%);
    filter: blur(10px);
  }
}

@keyframes shimmer-reverse {
  100% {
    transform: translate(0%, 0%);
    filter: blur(10px);
  }
}

.photo-card img.hidden {
    opacity: 0;
}

.photo-card img.show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.photo-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #e0e0e0 0%, #c9c9c9 100%);
    height: 250px;
    width: 374px;
    min-width: 374px;
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    text-align: center;
}

.photo-card img {
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 374px;
    object-fit: cover;
}

img.move-in {
    animation: move-in 0.5s ease forwards;
}

@keyframes move-in {
    from {
        transform: translate(-100%, -100%);
    }
    to {
        transform: translate(0, 0);
    }
    
}