.skeleton {
    background: linear-gradient(180deg, #e0e0e0 0%, #c9c9c9 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.photo-card img.hidden {
    opacity: 0;
}

.photo-card img.show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.photo-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #e0e0e0 0%, #c9c9c9 100%);
    height: 250px;
    width: 374px;
    min-width: 374px;
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    text-align: center;
}

.photo-card img {
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 374px;
    max-height: 250px;
    object-fit: cover;
    z-index: 100;
    opacity: 0;
}

.photo-card img.move-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

@keyframes move-in {
    from {
        transform: translate(-100%, -100%);
    }
    to {
        transform: translate(0, 0);
    }
    
}