.navbar {
    margin: 0;
    position: fixed;
    top: -60px;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    color: white;
    z-index: 10;
}

.scrolled {
    opacity: 1;
    top: 0;
}
