.navbar {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    top: -60px;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    color: white;
    z-index: 10;
}

.vercel-env {
    margin-top: 54px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.vercel-env p {
    margin: 0;
    padding-top: 24px;
}

.navbar .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav-content a {
    color: white;
    text-decoration: none;
}

.nav-content .nav-links a:hover {
    text-decoration: underline;
}

.scrolled {
    opacity: 1;
    top: 0;
}
