.photo-wall {
    overflow: hidden;
    width: 100%;
    padding: 1rem;
}

.photos {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    margin-bottom: 2rem;
}

.photos.reverse {
    animation-direction: reverse;
}
