.lay-skeleton-item .lay-skeleton-type--image {
    height: 2vh
}

.title-container {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.title {
    letter-spacing: 10px;
    font-size: 36px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.main-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

p, i, a, li, ol, ul, dl, dt, dd, hr, pre, blockquote, figure, table, fieldset, form, legend, caption, tbody, tfoot, thead, tr, th, td {
    font-family: 'JinhuaSerifC', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Smiley Sans', sans-serif;
}

@font-face {
    font-family: 'JinhuaSerifC';
    src: local('Jinhua Serif C'), url("@/assets/fonts/JinhuaSerifC/JinhuaSerifC-Regular.ttf.woff2") format('woff2'), url("@/assets/fonts/JinhuaSerifC/JinhuaSerifC-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Smiley Sans';
    src: local('Smiley Sans'), url("@/assets/fonts/SmileySans/SmileySans-Oblique.ttf.woff2") format('woff2'), url("@/assets/fonts/SmileySans/SmileySans-Oblique.ttf") format('truetype');
}