.article-content {
  margin: 24px !important;
  margin-top: calc(2rem + 1.34em + 2.5rem) !important;
  transition: color 0.3s ease, background 0.3s ease;
}

.blog-page-title a {
  text-decoration: none;
  color: black;
}

.breadcumb-link {
  font-size: 0.9rem;
}

.breadcumb-link a {
  text-decoration: none;
  color: #555 !important;
}

.breadcumb-link a:hover {
  text-decoration: underline;
  scale: 1.02;
  transition: all 0.2s ease-in-out;
}

.markdown-body,
[data-theme="light"] .markdown-body {
    background: white;
}

.dark .markdown-body,
[data-theme="dark"] .markdown-body {
  background: #0d1117;
}

[data-theme="dark"] .blog-page-title a {
  color: white;
}

[data-theme="dark"] .breadcumb-link a {
  color: #ccc !important;
}

/* Reset li styles in blog post content */
.article-content li {
  list-style-type: disc;
  margin-left: 20px;
}

.article-content li:hover {
  transform: scale(1);
  transition: none;
}
