[data-theme="light"] {
  @import "highlight.js/styles/github.css";
    @import "github-markdown-css/github-markdown.css";
    @import "github-markdown-css/github-markdown-light.css";
}

[data-theme="dark"] {
  @import "highlight.js/styles/github-dark.css";
    @import "github-markdown-css/github-markdown-dark.css";
}
