name: Docker Build & Push and Deploy to Alibaba Cloud FC

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Image (amd64)
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.docker_build.outputs.digest }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Prepare Blog Content to content/blog
        run: mkdir -p content
      
      - name: Sync Blog Content
        uses: actions/checkout@v4
        with:
          repository: g497813927/techzjc-blog-content
          path: content/blog
          token: ${{ secrets.BLOG_CONTENT_SYNC_PAT }}
          fetch-depth: 1

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images
        uses: docker/build-push-action@v6
        id: docker_build
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ vars.IMAGE }}:${{ github.sha }}
            ${{ vars.IMAGE }}:${{ github.ref_name }}
            ${{ vars.IMAGE }}:latest
  deploy:
    needs: build
    concurrency:
      group: deploy-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Serverless Devs
        run: npm install -g @serverless-devs/s

      - name: Deploy to Alibaba Cloud FC
        env:
          REGION: ${{ vars.REGION }}
          FC_NAME: ${{ vars.FC_NAME }}
          IMAGE_FULL: "${{ vars.IMAGE }}@${{ needs.build.outputs.digest }}"
          CDN_ORIGIN_AUTH: ${{ secrets.CDN_ORIGIN_AUTH }}
          default_serverless_devs_key: "{\"AccountID\":\"${{ secrets.ALIYUN_ACCOUNT_ID }}\",\"AccessKeyID\":\"${{ secrets.ALIYUN_ACCESS_KEY_ID }}\",\"AccessKeySecret\":\"${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}\"}"
        run: |
          s deploy -t s.yaml --use-local -y
