name: Docker Build & Push (amd64) and Deploy to Alibaba Cloud FC

on:
  push:
    branches:
      - main
      - next-preview
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true

          # tags depend on the branch
          tags: |
            ${{ vars.IMAGE }}:${{ github.sha }}
            ${{ vars.IMAGE }}:${{ github.ref_name }}
            ${{ vars.IMAGE }}:${{ github.ref_name == 'main' && 'latest' || github.ref_name == 'next-preview' && 'preview' }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Serverless Devs
        run: npm install -g @serverless-devs/s

      - name: Deploy to Alibaba Cloud FC
        env:
          REGION: ${{ vars.REGION }}
          FC_NAME: ${{ vars.FC_NAME }}
          IMAGE_FULL: "${{ vars.IMAGE }}:${{ github.sha }}"
          default_serverless_devs_key: "{\"AccountID\":\"${{ secrets.ALIYUN_ACCOUNT_ID }}\",\"AccessKeyID\":\"${{ secrets.ALIYUN_ACCESS_KEY_ID }}\",\"AccessKeySecret\":\"${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}\"}"
        run: |
          s deploy -t s.yaml --use-local

